[submodule "codex"]
	path = codex
	url = git@github.com:advatar/codex.git
[submodule "openclaw"]
	path = openclaw
	url = git@github.com:advatar/openclaw.git
[submodule "get-shit-done"]
	path = plugins/get-shit-done
	url = git@github.com:advatar/get-shit-done.git
[submodule "Packages/DeepThink"]
	path = Packages/DeepThink
	url = git@github-personal:advatar/DeepThink.git
